*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif';
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(73, 75, 81, 0.409);
  color:white;
  
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.count{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}